footer {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    h2{
        font-family: "Bowlby One"
    }

    div{
        a{
            img{
                width: 50px;
            }
        }


    }

}

